body{
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

html{
    height: 100vh;
}

.card-mapa{
	border-radius: 9.4px;
    box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: none;
    color: black;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 12px;
    right: 0;
    padding: 10px;
    font-size: 12px;
}

#mapa-tweet h4{
    font-size:18px;
}



.fecha-tweet-mapa{
    position: absolute;
    right: 30px;
    top: 13px;
}



.card-title {font-size: 20px !important}
